* {
    padding: 0;
    margin: 0;
}

:root {
	--index: calc(1vw + 1vh);
}

body {
    color: white;
    font-family: "Quicksand", sans-serif;
    overflow: hidden
}


.layer {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    // z-index: 0;
    pointer-events: none;
    overflow: hidden;
}

.header {
    // z-index: 1;
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: calc(var(--index) * 1.2) 0 0;
    
    .container {
        width: calc(var(--index) * 40);
        height: 100%;
        font-weight: 700;
        font-size: calc(var(--index) * .75);

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            text-align: center;
            text-transform: uppercase;
        }

        .title {
            text-align: center;
            text-transform: uppercase;
            margin: calc(var(--index) * 2.5) 0 0;
            font-size: calc(var(--index) * 2.4);
            font-weight: 800;
            // backdrop-filter: blur(20px);
            // border: 2px solid white;
            // border-radius: 30px;
        }
        .subtitle {
            text-align: center;
            margin: calc(var(--index) * .7) 0 0;
            font-size: calc(var(--index) * .65);
            padding: 0 calc(var(--index) * 10);
        }
    }
}