* {
    padding: 0;
    margin: 0;
}

:root {
	--index: calc(1vw + 1vh);
}
// body::-webkit-scrollbar {
//     display: none;
// }

a:active, 
a:hover,  
a {
  text-decoration: none;
  color: inherit;
}

body {
    color: white;
    font-family: "Quicksand", sans-serif;
    // overflow: hidden;
    height: 450vh;
}

.paralax {
    min-height: 100vh;
    overflow: hidden;

    .container {
        // position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    
        .layer1, .layer2, .layer3, .layer4, 
        .layer5, .layer6, .layer7, .layer-road,
        .layer-train, .layer-grass, .woomen {
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
            position: fixed;
            overflow: hidden;
            scale: 1.16;
            will-change: transfrom;
            backface-visibility: hidden; 
            //минус мерцание
            animation-timeline: scroll();
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
            animation-range: 0 150vh;
            animation-name: animateBg;
        }
        @keyframes animateBg { to {scale: 1} }
        
        .layer1 {
            background-image: url(/images/layer7.png);
        }
        .layer2 {
            background-image: url(/images/layer6.png);
        }
        .layer3 {
            background-image: url(/images/layer5.png);
        }
        .layer4 {
            background-image: url(/images/layer4.png);
        }
        .layer5 {
            background-image: url(/images/layer3.png);
        }
        .layer6 {
            background-image: url(/images/layer2.png);
        }
        .layer7 {
            background-image: url(/images/layer1.png);
        }
        .woomen {
            background-image: url(/images/train\ night\ копия.png);
            scale: 6;
            filter: blur(10px);
            animation-timeline: scroll();
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
            animation-range: 0 150vh;
            animation-name: trainWindow;
            pointer-events: none;
        }
        @keyframes trainWindow { to {scale: 1; filter: blur(0)}; }

        .layer-road {
            background-image: url(/images/roadline.png);
            will-change: auto;
        }
        .layer-grass {
            background-image: url(/images/grass.png);
        }
        .layer-train {
            background-image: url(/images/train.png);
            // animation: trainRide 6s linear infinite;
            min-width: 911px;
            will-change: auto;
        }
    
        @keyframes trainRide {
            0% {
                left: -50%;
            }
            100% {
                left: 110%;
            }
        }
        
    }

    .header {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: calc(var(--index) * 1.4) 0 0;
        z-index: 1;
        
        .container {
            position: relative;
            // width: calc(var(--index) * 32);
            // width: 100%;
            //сделать адаптив для менюшки
            height: 100%;
            font-weight: 700;
            font-size: calc(var(--index) * .75);
            display: flex;
            align-items: center;
            justify-content: space-around;
    
    
            .navbar, .menu {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                list-style: none;
                text-align: center;
                text-transform: uppercase;
                color: #37326e;
                gap: calc(var(--index) * .2);
                background-color: rgba($color: #ffffff, $alpha: 0.3);
                padding: calc(var(--index) * .27);
                border-radius: 2em;
    
                .navbar_elem {
                    background-color: white;
                    padding: calc(var(--index) * .11) calc(var(--index) * 1.1); 
                    border-radius: 2em;
                }
            }
    
            .menu {
                align-items: center;
                justify-content: space-between;
                gap: calc(var(--index) * .5);
                padding: calc(var(--index) * .25) calc(var(--index) * .6)
                calc(var(--index) * .25) calc(var(--index) * .25);
                cursor: pointer;
                transition: .3s ease-in-out ;
                
                .button {
                    height: calc(var(--index) * 1.2);
                    width: calc(var(--index) * 1.2);
                    border: none;
                    font: inherit;
                    color: inherit;
                    border-radius: 2em;
                    padding: 0;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    background-color: white;
                    pointer-events: none;
                    position: relative;

                    .line {
                        width: 60%;
                        height: 60%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        gap: calc(var(--index) * .1);
                        transition: .4s ease-in-out ;
                        // pointer-events: none;
                        // border-radius: 50%;

                        .line-top, .line-bot, .line-mid {
                            width: 100%;
                            height: calc(var(--index) * .08);
                            background-color: #37326e;
                            border-radius: 2em;
                        }
                    }
                }
                
                
                p {
                    color: white;
                    // background-color: white;
                    padding: calc(var(--index) * .1) 0; 
                    border-radius: 15px;
                    opacity: 80%;
                    pointer-events: none;
                }
            }
        }
    }


    .button-close {
        top: calc(var(--index) * 1.65);
        left: calc(var(--index) * 4.8);
        scale: 0;
        transition: .8s cubic-bezier( 0.98, 0.1, 0.3, 0.9 );
        position: fixed;
        background-color: #37326e;
        z-index: 3;
        height: calc(var(--index) * 1.2);
        width: calc(var(--index) * 1.2);
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;

        .line {
            position: relative;
            width: 60%;
            height: 60%;
            display: flex;
            justify-content: center !important;
            align-items: center;
            pointer-events: none;

            .line-left, .line-right {
                background-color: #ffffff;
                position: absolute;
                transform: rotate(45deg);
                height: calc(var(--index) * .1);
                width: 100%;
                border-radius: 2em;
            }
            .line-right {
                transform: rotate(-45deg);
            }
        }
    }
    

    .title {
        width: 100%;
        position: fixed;
        margin: calc(var(--index) * 5) 0 0;
        animation-timeline: scroll();
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        animation-range: 0 150vh;
        animation-name: animateTitle;
    
        @keyframes animateTitle {
            to  {
                filter: blur(20px);
                opacity: 0;
            }
        }
    
        .main-title {
            text-align: center;
            text-transform: uppercase;
            // margin: calc(var(--index) * 2.5) 0 0;
            font-size: calc(var(--index) * 2.4);
            font-weight: 800;
            // backdrop-filter: blur(20px);
            // border: 2px solid white;
            // border-radius: 30px;
        }
        .subtitle {
            text-align: center;
            margin: calc(var(--index) * .7) 0 0;
            font-size: calc(var(--index) * .65);
            // padding: 0 calc(var(--index) * 24);
        }
    }


    .content-menu {
        transform: translateX(-100%);
        z-index: 1;
        min-height: 100vh;
        transition: 1s cubic-bezier( 0.98, 0.1, 0.3, 0.9 );
        // width: calc(var(--index) * 25);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        background-color: #fbe4fb;
        color: #37326e;
        font-size: calc(var(--index) * 4.5);
        font-weight: 100;
        font-family: "Quattrocento", serif;

        .container {
            display: flex;
            width: 100%;
            height: 100%;
            padding: 0 calc(var(--index) * 4.5) 0 0;

            .navigation {
                width: 100%;
                list-style: none;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: space-between;

                .navigation-item { 
                    display: flex;
                    gap: calc(var(--index) * .6);

                    .number {
                        font-family: "Quicksand", sans-serif;
                        font-size: calc(var(--index) * 1.1);
                        font-weight: 600;
                        margin: 0 0 0 calc(var(--index) * 5);
                        padding: calc(var(--index) * .3) 0 0;
                    }
                    .label {
                        overflow: visible;
                        line-height: 1;
                    }
                }
            }
        }

        .info {
            font-family: "Quicksand", sans-serif;
            font-weight: 600;
            position: fixed;
            display: flex;
            align-self: flex-end;
            justify-content: space-between;
            gap: calc(var(--index) * 6.5);
            font-size: calc(var(--index) * .7);
            bottom: calc(var(--index) * 1.7);
            padding: 0 calc(var(--index) * 5.2);

            .general {
                display: flex;
                // align-items: flex-end;
                justify-content: flex-end;
                line-height: 1.1;
                flex-direction: column;

                .mail {
                    cursor: pointer;
                }
            }
            .links {
                line-height: .9;
                font-weight: 500;
                font-size: calc(var(--index) * .6);
            }
        }
    }

    .content {
        min-height: 200vh;
        background-color: #322e64;
        position: fixed;
        color: white;
        padding: calc(var(--index) * 1);
        margin: 0;
        opacity: 0;
        filter: blur(10px);
        font-size: calc(var(--index) * 3);
        z-index: 0;
        // display: none;
        animation-timeline: scroll();
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        animation-range: 150vh 250vh;
        animation-name: screenLoad;
    
        .container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
    
            .heading {
                display: flex;
                justify-content: center;
                margin: calc(var(--index) * 4) 0 0;
                text-transform: uppercase;
            }

            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 60%;
                margin: calc(var(--index) * 1) 0 0;

                .text-area {
                    font-size: calc(var(--index) * 1);
                    text-align: center;
                }
            }
        }
    }

    @keyframes screenLoad {
        from {
            // opacity: 0;
            // margin: 0;
            filter: blur(10px);
            // position: fixed;
        }
        to {
            // opacity: 1;
            // margin: 250vh 0 0;
            filter: blur(0);
            // position: absolute;
        }
    }
}








