@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

:root {
  --index: calc(1vw + 1vh);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  color: white;
  font-family: "Quicksand", sans-serif;
  height: 250vh;
}

.paralax {
  min-height: 100vh;
  overflow: hidden;
}
.paralax .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.paralax .container .layer1, .paralax .container .layer2, .paralax .container .layer3, .paralax .container .layer4,
.paralax .container .layer5, .paralax .container .layer6, .paralax .container .layer7, .paralax .container .layer-road,
.paralax .container .layer-train, .paralax .container .layer-grass, .paralax .container .woomen {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  scale: 1.16;
  will-change: transfrom;
  backface-visibility: hidden;
  animation-timeline: scroll();
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-range: 0 150vh;
  animation-name: animateBg;
}
@keyframes animateBg {
  to {
    scale: 1;
  }
}
.paralax .container .layer1 {
  background-image: url(/images/layer7.png);
}
.paralax .container .layer2 {
  background-image: url(/images/layer6.png);
}
.paralax .container .layer3 {
  background-image: url(/images/layer5.png);
}
.paralax .container .layer4 {
  background-image: url(/images/layer4.png);
}
.paralax .container .layer5 {
  background-image: url(/images/layer3.png);
}
.paralax .container .layer6 {
  background-image: url(/images/layer2.png);
}
.paralax .container .layer7 {
  background-image: url(/images/layer1.png);
}
.paralax .container .woomen {
  background-image: url(/images/train\ night\ копия.png);
  scale: 6;
  filter: blur(10px);
  animation-timeline: scroll();
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-range: 0 150vh;
  animation-name: trainWindow;
  pointer-events: none;
}
@keyframes trainWindow {
  to {
    scale: 1;
    filter: blur(0);
  }
}
.paralax .container .layer-road {
  background-image: url(/images/roadline.png);
  will-change: auto;
}
.paralax .container .layer-grass {
  background-image: url(/images/grass.png);
}
.paralax .container .layer-train {
  background-image: url(/images/train.png);
  animation: trainRide 6s linear infinite;
  min-width: 911px;
  will-change: auto;
}
@keyframes trainRide {
  0% {
    left: -50%;
  }
  100% {
    left: 110%;
  }
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: calc(var(--index) * 1.4) 0 0;
}
.header .container {
  position: relative;
  width: calc(var(--index) * 32);
  height: 100%;
  font-weight: 700;
  font-size: calc(var(--index) * 0.75);
}
.header .container .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  color: #37326e;
  background-color: rgba(255, 255, 255, 0.3);
  padding: calc(var(--index) * 0.25);
  border-radius: 20px;
}
.header .container .menu .menu_elem {
  background-color: white;
  padding: calc(var(--index) * 0.1) calc(var(--index) * 1);
  border-radius: 15px;
}

.title {
  width: 100%;
  position: absolute;
  margin: calc(var(--index) * 5) 0 0;
}
.title .main-title {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(var(--index) * 2.4);
  font-weight: 800;
}
.title .subtitle {
  text-align: center;
  margin: calc(var(--index) * 0.7) 0 0;
  font-size: calc(var(--index) * 0.65);
}/*# sourceMappingURL=style.css.map */